.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 500px;
}
section {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  gap: 5px;
}
